
h2 ,h3 ,h4{
    margin-top:2vw;
}

h2 {
	padding-top:4vw;
	padding-bottom:10vw;
	
}

video {
    width: 100%;
    height:auto;
}


nav { 
	height: 80px;
}

.navbar-brand {
    padding-left: 2vw;

}

img {
	width:100%;
	height:auto;
	
}

.page-holder {
  min-height: 100vh;
	
}

.bg-cover {
  background-size: cover !important;
}

